body{
    background-image: url(../images/admin.jpg);
    background-repeat:no-repeat ;
    background-size:100% 100vh ;
    height: 100vh;
}
aside{
    background-color: rgba(0, 0, 0, 0.567);
    height: 100%;
    
}
.content{
    margin:0;
}
.content ul {
    padding:60px 0;
    text-align: left;

}
.content ul li{
    list-style: none;
    padding:15px;
   
}
.hiden{
    display: none !important;
}
 
.content ul li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    
}
.content ul li a:hover{
color:green
}
section{
    display: grid;
    height: 90vh;
    grid-template-columns: 1fr 4fr;
    
}
.main-container{
    
    margin:80px 0px;
    display: grid;
    justify-content: space-around;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    
}
.employee-box,.department-box,.payslip-box,.leave-box,.dropdown{
    background-color: rgba(0, 0, 0, 0.542);
    margin:0 20px;
    height: 100px;
    border-radius: 10px;
    
    font-weight: bolder;
    color: white;
    
}
.main-container p{
    padding-left: 10px;
}
.employee-box img,.department-box img,.payslip-box img ,.leave-box img{
    width:40px;
    margin:15px;
    
    
}
.main-container div:hover div{
 display: block;
 
}
.main-container div:hover{
    color: green;
}
.dropdown h4 a{
    text-decoration: none;
    color: white;
}
.dropdown h4 {
    margin:15px 0;
}

.dropdown{
    display: none;
    padding: 10px;
    margin-top:7px;
    margin: 7px 0px;
    
}
.dropdown h4 a:hover{
    color: green;
}


@media only screen and (max-width: 1060px){

.main-container{
    grid-template-columns: 1fr 1fr;

    
}
}
@media only screen and (max-width: 500px){
section{
    grid-template-columns: 1fr;
    
}
    .main-container{
        grid-template-columns: 1fr ;
        position: relative;
        margin-top:30px;
    
        
    }
     .hide{
        display: none;
        
        
    }
    aside{
        position: absolute;
        background-color: black;
        z-index: 5;

    }
    
    .menu ul{
        display: none;
    } 
    #toggle{
        display: block;
    }
    .main-container div{
        position: relative;
    }
    .dropdown{
        background-color: black;
        height: 130px;
        
        z-index: 5;
    }
    .main-container div:last-child .dropdown{
        height: 100px;
    }
   
     
}

 @media only screen and (max-width: 450px){
        section{
            grid-template-columns: 1fr;
        }
       
      
       
        }
@media only screen and (max-width: 340px){
    #toggle{
        width:60px;
        top:-50px;
    }


}







