.empDetails{
    display:grid;
    overflow-y: scroll;
    

}
.header{
    display: flex;
    
    padding:20px;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
}
.names{
    display: grid;
}
.header .names{
    
    line-height: 35px;
    font-weight: bolder;
    font-size: 20px;
    
}
.names button{
    background-color: orange;
    border-radius: 5px;
    border:none;
    font-weight: bold;
    padding:5px;

    
    
}
.section{
    display:flex;
    justify-content: space-around;
 
    flex-direction: row;
    flex-wrap: wrap;
    
    
    
    

}
.section >div{
   
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    margin:15px;
    padding:15px;
    height: max-content;

}
.section div h2,h3{
    text-decoration:underline;
    margin-bottom: 10px;
    
}
 .sub-details{
    display: flex;
    justify-content: space-between;
    border-bottom: 5px solid  orange;
    padding:5px;
    margin:10px;
    
}
.sub-details p{
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    padding:0 10px;
  
} 
/* @media only screen and (max-width:589.5px){
    .section{
    position: relative;
    top:100px;
    }
}

@media only screen and (max-width:300px){
   .sub-details p{
       font-size: 10px;
   }
} */