
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.login{
    background-color: rgba(0, 0, 0, 0.821);
    margin:100px auto;


}
.login img{
    display:flex;
    width: 100px;
    margin:  auto;
    position: relative;
    top:-50px;
   }
   .login .content{
       position: relative;
       top:-50px;
       
   }
.login .content h2{
    text-align: center;
    color: green;
    letter-spacing: 2px;
    margin:15px;
}
.login .content form{
    margin:20px;
    

}
.content form label{
    color:green;
    font-size: 20px;
    
    
}
.content form input{
    color:white;
    background: transparent;
    border: none;
    outline: none;
    font-size: 20px;
    margin:20px 0;
    border-bottom: 2px solid white;
    width: 100%;
    padding:5px;
}
.content form button{
    width:100%;
    height:40px;
    border-radius: 10px;
    color: white;
    background-color: darkgreen;
    border: none;
    font-size: 20px;
}