*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: fantasy;
}
body{
    background-image: url(images/emplyee.jpg);
    background-repeat:no-repeat ;
    background-size:100% 100% ;
    height: 100vh;

}
.menu{
    background-color: rgba(0, 0, 0, 0.567);
    width:100%;
    color: white;
    display: flex;
    justify-content: space-between;
}
.menu h2{
    padding:15px;
    padding-left: 5px;
    
}
.menu h2::before{
    content: "";
    border-left:5px solid  green;

    padding-right: 10px;
}
.menu h2::after{
    content: "";
    border-right:5px solid  green;
    padding-right: 10px;
}
.list-item{
    list-style: none;
    display: flex;
    position: relative;
    padding:15px;
    padding-right: 55px;
    font-size: 15px;
}
.list-item li a{
    text-decoration: none;
    color: white;
}

.list-item li{
    padding: 10px;

}


#dropdown {
    display: none;
    list-style: none;
    position:absolute;
    color: white;
    top:50px;
    right:108px;
    background-color:rgba(0, 0, 0, 0.567); 
    
}
#toggle{
    display: none;
}

#dropdown li a{
    list-style: none;
    text-decoration: none;
    color:white
}
